pkgbase = mingw-w64-gtk3
	pkgdesc = GTK+ is a multi-platform toolkit (v3) (mingw-w64)
	pkgver = 3.8.6
	pkgrel = 1
	url = http://www.gtk.org
	arch = any
	license = LGPL
	makedepends = mingw-w64-gcc
	makedepends = mingw-w64-pkg-config
	makedepends = gtk-update-icon-cache
	makedepends = python2
	depends = mingw-w64-crt
	depends = mingw-w64-atk>=2.7.5
	depends = mingw-w64-pango>=1.32.4
	depends = mingw-w64-glib2>=2.35.3
	depends = mingw-w64-cairo>=1.10.0
	depends = mingw-w64-gdk-pixbuf2>=2.27.1
	options = !libtool
	options = !strip
	options = !buildflags
	source = http://ftp.gnome.org/pub/gnome/sources/gtk+/3.8/gtk+-3.8.6.tar.xz
	source = https://git.gnome.org/browse/gtk+/plain/demos/gtk-demo/brick.png?h=gtk-3-8&id=231d6c209f47edac828f52a7316980129c370eb1
	source = gtk-dont-define-initguid.patch
	sha256sums = b5638b2d2ffa1b3aa2dbdba75a3134d9dc4b6e4ed7a287855fed2811956cd4ed
	sha256sums = 22c7fbf387ccb874bfd05e58243e1d77597ff7c1ef3e61649f84d4b921decba7
	sha256sums = ccad28dbc881049f40fa23199692be7b19575018e6259f97092c5e8404607cac

pkgname = mingw-w64-gtk3

